/*****************************/
/* Header */
/*****************************/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4.6rem;
    background-color: #fdf2e9;
    /* As we want it to sticky */
    height: 9.6rem;
}

.logo {
    height: 2.2rem;
}

/*****************************/
/* Navigation */
/*****************************/
.main-nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3.2rem;
}

.main-nav-link:visited, .main-nav-link:link {
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 1.8rem;
    transition: all 0.3s;
}

.main-nav-link:active, .main-nav-link:hover {
    color: #cf711f;
}

.main-nav-link.nav-cta:link, .main-nav-link.nav-cta:visited {
    display: inline-block;
    background-color: #e67e22;
    padding: 1.2rem 2.4rem;
    border-radius: 0.9rem;
    /*background-color: #e67e22;*/
    color: white;
}

.main-nav-link.nav-cta:hover, .main-nav-link.nav-cta:active {
    background-color: #cf711f;
}

/*****************************/
/* Hero section */
/*****************************/
.section-hero {
    background-color: #fdf2e9;
    padding: 4.6rem 0 9.6rem 0;
}

.hero {
    max-width: 140rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9.6rem;
    align-items: center;
    padding: 0 4.2rem;
}


.hero-description {
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 4.8rem;
}

.hero-img {
    width: 100%;
}

.delivered-meals {
    display: flex;
    margin-top: 8rem;
    align-items: center;
    gap: 1.6rem;
}

.delivered-faces {
    display: flex;
}

.delivered-faces img {
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    margin-right: -1.6rem;
    border: 3px solid #fdf2e9;
}

.delivered-faces img:last-child {
    margin-right: 0;
}

.delivered-text {
    font-size: 1.8rem;
    font-weight: 600;
}

/*****************************/
/* Featured In Section */
/*****************************/
.section-featured {
    padding: 4.8rem 0 3.2rem 0;
}

.heading-featured {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 2.4rem;
    color: #888;
}

.logos {
    display: flex;
    justify-content: space-around;
}

.featured-logo {
    height: 3.2rem;
    filter: brightness(0);
    opacity: 50%;
}

/*****************************/
/* How it works */
/*****************************/
.section-how {
    padding: 9.6rem 0;
}

.step-img {
    width: 35%;
}

.step-text-no {
    font-size: 9.8rem;
    font-weight: 600;
    color: #ddd;
    margin-bottom: 1.2rem;
}

.step-description {
    font-size: 1.8rem;
    line-height: 1.6;
}

.step-img-box {
    position: relative;
}

.step-img-box::before, .step-img-box::after {
    content: "";
    display: block;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.step-img-box::before {
    width: 60%;
    padding-bottom: 60%;
    background-color: #fdf2e9;
    z-index: -2;
}

.step-img-box::after {
    background-color: #fae5d3;
    z-index: -1;
    width: 50%;
    padding-bottom: 50%;

}

.step-img {
    margin: 0 auto;
    display: block;
}

/*****************************/
/* Meals */
/*****************************/
.section-meals {
    padding: 9.6rem 0;
}

.meal {
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
    border-radius: 11px;
    overflow: hidden;
    transition: all 0.4s;
}

.meal:hover {
    transform: translateY(-1.2rem);
    box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.1);
}

.meal-content {
    padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal-img {
    width: 100%;
}

.meal-title {
    font-size: 2.4rem;
    color: #333333;
    font-weight: 600;
    margin-bottom: 3.2rem;
}

.meal-attributes {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.meal-attribute {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.8rem;
}

.meal-attribute-icon {
    color: #cf711f;
    font-size: 2.4rem
}

.meal-tags {
    margin-bottom: 1.2rem;
    display: flex;
    gap: 0.4rem;
}

.diets-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.diets-list-item {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.diet-list-icon {
    font-size: 3rem;
    color: #cf711f;
}

.all-recipes {
    text-align: center;
    font-size: 1.8rem;
}